<div class="wrapper-blue">
   <div class="container">
     <div class="row">
        <div class="col-xs-6 col-xs-offset-3 padded flex">
          <%= image_tag("taxi-driver.png", size: "160x200") %>
          <div id="login-button">
            <%- resource_class.omniauth_providers.each do |provider| %>
            <%= link_to "Sign up with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), class: "btn btn-underline-yellow"%>
            <% end %>
          </div>
       </div>
     </div>
   </div>
</div>
