<div class="wrapper-white">
  <div class="container">
   <div class="chat">
     <div class="chat-box-header text-center">
        <p>Chat</p>
     </div>
     <div class="chat-box-messages">
       <div class="user-message">
        <p>Hey, get me a cab</p>
       </div>
       <div class="bot-message text-right">
        <p>Allright, where you at ?</p>
       </div>
     </div>
     <div class="chat-box-input text-center">
        <%= simple_form_for @message, url: interface_path , :remote => true do |f| %>
          <%= f.input :body, label: false %>
          <%= f.input :user, as: :hidden, input_html: { value: @user.phone_number } %>
          <%= f.button :submit %>
        <% end %>
     </div>
   </div>
 </div>
</div>
