<div class="wrapper-white">
  <div class="container">
   <div class="row">
      <div class="chat-box col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-3">
       <div class="chat-box-header text-center">
          <p>I am in the header</p>
       </div>
       <div class="chat-box-footer text-center">
          <p>I am in the footer</p>
       </div>
     </div>
   </div>
  </div>
</div>
