<div class="wrapper-white">
  <div class="container">
   <div class="chat">
     <div class="chat-box-header text-center">
        <p>Chat</p>
     </div>
     <div class="chat-box-messages">
       <div class="user-message">
        <p>Hey, get me a cab</p>
       </div>
       <div class="bot-message text-right">
        <p>Allright, where you at ?</p>
       </div>
     </div>
     <div class="chat-box-input text-center">
        <form class="form-inline">
          <input type="text" class="form-control" placeholder="Text input">
          <button type="submit" class="btn btn-primary">Ask the bot!</button>
        </form>
     </div>
   </div>
 </div>
</div>
