<input type="phone" placeholder="ex : 0660332982"
  id="popover"
  tabindex="0"
  class="form-control"
  role="button"
  data-trigger="focus"
  data-placement="bottom"
  >
</a>

<div id="popover-content" class="hidden">
  <div>
    <b>Example popover #2</b> - content
  </div>
</div>

<div id="popover-title" class="hidden">
  <b>Example popover #2</b> - title
</div>

<% content_for(:after_js) do %>
  <script>
    $(window).load(function(){
      $("#popover").popover({
        html : true,
        content: function() {
          return $("#popover-content").html();
        },
        title: function() {
          return $("#popover-title").html();
        }
      });
    });
  </script>
<% end %>
