<input type="phone" placeholder="ex : 0660332982"
  id="popover"
  tabindex="0"
  class="form-control phone_input"
  role="button"
  data-placement="bottom"
  >
</a>

<div id="keyboard" class="hidden keyboard">
  <div class="keyboard-line">
    <button class="btn btn-default keyboard-dial" >1</button>
    <button class="btn btn-default keyboard-dial" >2</button>
    <button class="btn btn-default keyboard-dial" >3</button>
  </div>
  <div class="keyboard-line">
    <button class="btn btn-default keyboard-dial" >4</button>
    <button class="btn btn-default keyboard-dial" >5</button>
    <button class="btn btn-default keyboard-dial" >6</button>
  </div>
  <div class="keyboard-line">
    <button class="btn btn-default keyboard-dial" >7</button>
    <button class="btn btn-default keyboard-dial" >8</button>
    <button class="btn btn-default keyboard-dial" >9</button>
  </div>
  <div class="keyboard-line">
    <button class="btn btn-default keyboard-dial" >*</button>
    <button class="btn btn-default keyboard-dial" >0</button>
    <button class="btn btn-default keyboard-dial" >#</button>
  </div>
  <div class="keyboard-line">
    <button class="btn-treehouse-blue keyboard-input" type="submit">Contactez-moi</button>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    $(document.body).on('shown.bs.popover', function () {
      $('.keyboard-dial').click( function ( event ) {
        event.preventDefault();
        var number_dialed = $(this).text();
        $( "#popover" ).val( function( index, val ) {
          return val + number_dialed;
        });
      });
    });
    $(window).load(function(){
      $("#popover").popover({
        html : true,
        content: function() {
          return $("#keyboard").html();
        },
      });
    });
  </script>
<% end %>
