<div class="navbar-wagon-transparent">
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
      <!-- Login text link -->
      <a href="#" class="btn-underline navbar-wagon-item">Log in</a>
  </div>
</div>
