
  <% messages.each_with_index do |message, index| %>
    <% if message.sender == true %>
      <div class="conversation__msg right" <%= messages.count == (index+1) ? 'id="last"' : "" %>>
         <span class="text-right">
              <%= message.body %>
        </span>

      </div>
    <% else %>
      <div class="conversation__msg" <%= messages.count == (index+1) ? 'id=last' : "" %>>
        <span>
            <%= message.body %>
        </span>
      </div>
    <% end %>
  <% end %>


