<ul>
  <% messages.each_with_index do |message, index| %>
    <% if message.sender == true %>
      <li class="conversation__msg cf" <%= messages.count == (index+1) ? 'id="last"' : "" %>>
         <span class="right text-right"><%= message.body %></span>
      </li>
    <% else %>
      <li class="conversation__msg cf" <%= messages.count == (index+1) ? 'id="last"' : "" %>>
        <span><%= message.body %></span>
      </li>
    <% end %>
  <% end %>
</ul>

