<div class="wrapper-white">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-sm-offset-3">
        <div class="chat">
          <div class="chat-box-header text-center">
             <p>Chat</p>
          </div>
          <div class="chat-box-messages">
            <%= render 'clean_messages', messages: @messages %>
          </div>
          <div class="chat-box-input text-center">
              <%= simple_form_for @message, url: messages_path do |f| %>
                <%= f.input :body,label: false,input_html: { class: 'form-input' } %>
                <%= f.input :user, as: :hidden, input_html: { value: @user.phone_number } %>
              <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <script>
  $(document).ready( function (){
    function scrollToElement(ele) {
      setTimeout(function() {
        $('.chat-box-messages').scrollTop(ele.offset().top)
      }, 100);
    }
    scrollToElement($('#last'));

    $(window).on('keydown', function(e){
      if(e && e.keyCode == 13) {
        if($('#message_body').val() != ""){
          e.preventDefault();
          $('.simple_form').submit();
        }
      }
    });

    window.onload = function() {
      $('#message_body').focus();
    }

  });
  </script>
<% end %>
