/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 3em;
  padding-bottom: 3em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #E6E6E6;
}
.bg-blue {
  background: #274060;
}
.bg-dark-blue {
  background: #3b5998;
}

.margin-top {
  height: 30px;
}

.top-bar {
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0px;
  padding: 10px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
}

.top-space {
  height: 150px;
}

.bottom-bar {
  width: 100%;
  background-color: white;
  position: fixed;
  bottom: 0px;
  padding: 10px;
}

.bottom-space {
  height: 150px;
}


#yellowed{
  box-shadow: inset 0px -10px $yellow
}

.padding-bottom {
  padding-bottom: 70px;
}

.padding-top {
  padding-top: 55px;
}

.little-padding-top {
  padding-top: 10px;
}

.margin-top {
  margin-top: 35px;
}


.stars {
  width: 100px;
}

#phone {
  border-radius: 20px;
}

// wrappers and background css

.wrapper-white {
  background-color: white;
  height: 100%;
  width: 100%;
}


.flex {
  display: flex;
  justify-content: space-between;
}

.phone_input {
  background: red;

}

#phone-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#img-taxi {
  width: 50px;
}
