/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.margin-top {
  height: 30px;
}


.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar {
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0px;
  padding: 10px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
}

.top-space {
  height: 90px;
}

.bottom-bar {
  width: 100%;
  background-color: white;
  position: fixed;
  bottom: 0px;
  padding: 10px;
}

.bottom-space {
  height: 110px;
}
