.wrapper-blue{
  background-color: $brand-color;
  color: white;
  text-align: center;
  min-height: calc(100vh - 70px) !important;
  align-items: center;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  h1 {
    font-size: 85px;
    font-weight: bold;
    margin-top: -10px;
  }
}

.logo {
  height: 50px;
  padding-right: 40px;
}

.banner-description {
  height: 250px;
  flex: 0 0 50%;
  p{
      font-size: 27px;
      font-weight: lighter;
  }
}

.banner-phone{
    position: relative;
    // border-bottom-left-radius: 5px;
    // border-bottom-right-radius: 5px;
    flex: 0 0 50%;
  p{
      font-size: 27px;
      font-weight: lighter;
  }
}


