.btn-underline{
  color: white;
  font-size: 16px;
  text-decoration: none !important;
  padding-bottom: 0px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
    &:hover {
      color: white;
    }
}


.btn-treehouse-blue {
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  background: #637AD1;
  border: none;
  transition: background 0.3s ease;
}
.btn-treehouse-blue:hover {
  opacity: 1;
  background: #E6E6E6;
  text-decoration: none;
  color: #3A88D4;
}
