.chat{
  background: white;
  height: 80vh;
  border-radius: 45px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.chat-box-header{
  background-color: white;
  width: inherit;
  padding-top: 7px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.chat-box-messages{
  height: 78%;
  overflow-y: scroll;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    .cf {
      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }

    ul {
        padding: 0;
        list-style-type: none;
    }

    .conversation__msg {
      padding: 5px 10px;
      color: white;
      font-size: 12px;
      span {
          background: white;
          color: black;
          display: table;
          padding: 10px 20px;
          border-radius: 100px;
          float: left;
      }
    }

    .right {
      float: right !important;
      background: #0ebeff !important;
      color: white !important;
    }

}

::-webkit-scrollbar {
    display: none;
}


