.chat{
  background: white;
  height: 80vh;
  border-radius: 45px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.45);
  overflow: hidden;
}

.chat-box-header{
  background-color: white;
  width: inherit;
  padding-top: 7px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.chat-box-messages{
  display: flex;
  flex-direction: column;
  height: 78%;
  overflow-y: scroll;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 5px;

    .cf {
      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }

    ul {
        padding: 0;
        list-style-type: none;
    }

    .conversation__msg {
      padding: 5px 10px;
      color: white;
      font-size: 12px;
      max-width: 50%;
      margin-bottom: 5px;
      span {
          background:  #EFE880;
          color: black;
          display: table;
          padding: 10px 20px;
          border-radius: 30px;
      }
    }

    .right {
      align-self: flex-end;
      span {
        background: #48A0DC !important;
        color: white !important;
      }

    }
 }

.chat-box-input{
  height: 100%;

  .form-input{
    display: initial;
    width: 78%;
    padding: 0px 0px !important;
    font-size: 15px;
    border: none;
    border-bottom: 2px solid black;

    &:focus{
      box-shadow: none;
    }
  }

}
// helper classes

::-webkit-scrollbar {
    display: none;
}


