.chat{
  background: white;
  height: 80vh;
  border-radius: 45px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.chat-box-header{
  background-color: white;
  width: inherit;
  padding-top: 7px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.chat-box-messages{
  display: flex;
  flex-direction: column;
  height: 78%;
  overflow-y: scroll;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    .cf {
      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }

    ul {
        padding: 0;
        list-style-type: none;
    }

    .conversation__msg {
      padding: 5px 10px;
      color: white;
      font-size: 12px;
      max-width: 50%;
      span {
          background: white;
          color: black;
          display: table;
          padding: 10px 20px;
          border-radius: 10px;
          border: 1px solid rgba(0, 0, 0, 0.1);
      }
    }

    .right {
      align-self: flex-end;
      span {
        background: #0ebeff !important;
        color: white !important;
      }

    }

    .message-avatar {
      width: 25px;
      border-radius: 50%;
      max-height: 26px;

      &.avatar-right {
        float: right;
        margin-left: 10px;
      }
    }

    .avatar-text{
      display: table;
    }

}

// helper classes

::-webkit-scrollbar {
    display: none;
}


