.keyboard-line {
  display: flex;
  justify-content: space-around;

  .keyboard-dial {
    height: 60px;
    width: 60px;
    margin: 5px;
    border-radius: 35px;
    /* box-shadow: #469ae0 0px 3px 0px 0px; */
    /* border-color: white; */
    border: 3px solid white;
    background-color: #3F73A2;
    color: white;
    font-weight: bolder;

    &:hover {
      background-color: #E6E6E6;
      color: #274060;
    }
  }

  .keyboard-input {
    height: 60px;
    width: 100%;
    margin: 6px;
  }
}

#keyboard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#popover-content {
    padding: 4px 10px;
    background-color: #E6E6E6;
}
