.keyboard-line {
  display: flex;
  justify-content: space-around;

  .keyboard-dial {
    height: 55px;
    width: 60px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: #274060 0px 3px 0px 0px;
    border-color: #274060;
    color: #777;
    font-weight: bolder;

    &:hover {
      background-color: #E6E6E6;
      color: #274060;
    }
  }

  .keyboard-input {
    height: 60px;
    width: 100%;
    margin: 6px;
  }
}

#keyboard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
